
#priceChart{
    display: block;
    box-sizing: border-box;
    height: 350px;
    width: 700px;
  }
  @media (min-width: 768px) {
    .sm\:px-8 {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
  .max-w-screen-xl {
    max-width: 1280px;
  }
  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }