/* Põhistiilid */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
  text-align: center;
}
.data{
  font-size: 2rem;
}
/* Lehe pealkiri */
h1 {
  font-size: 2.5rem;
  margin-top: 20px;
  color: #2c3e50;
}

/* Tekstist lõigud */
p {
  font-size: 1rem;
  margin: 0px 0;
}
input{
  font-size: 1.3rem;
  max-width: 100px;
  /* font-weight: unset; */
}
p strong{
  font-size: 1.3rem
      
}
/* Graafik */
#priceChart {
  display: block;
  box-sizing: border-box;
  height: 400px;
  width: 800px;
  margin: 20px ;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

/* Nupu kujundus */
/* #refresh */
button
 {
  background-color: #3498db;
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.active-btn {
        background-color: green;
        color: white;
    }


@media (max-width: 700px) {
  
  h1 {
      font-size: 2rem;
  }
  p {
      font-size: 1rem;
      display: grid;
  }
  /* #refresh  */
  button
  {
      font-size: 0.9rem;
      padding: 8px 10px;
       margin: 1%;
  }
  
}
